name: snake

on:
     workflow_dispatch:
     schedule:
       - cron: "0 */6 * * *"

   permissions:
     contents: write

   jobs:
     generate:
       runs-on: ubuntu-latest
       steps:
         - uses: Platane/snk@v3
           with:
             github_user_name: Boulagjame-dev
             outputs: dist/github-contribution-grid-snake.svg,dist/github-contribution-grid-snake-dark.svg?palette=github-dark
         - uses: crazy-max/ghaction-github-pages@v4
           with:
             target_branch: output
             build_dir: .
           env:
             GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
